<!DOCTYPE HTML>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<title>Admin Login</title>

</head>
<body>
<div class="container">
  <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>ADD CLIENTS</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="uid">Userid</label>  
  <div class="col-md-4">
  <input id="uid" name="uid" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="pmodule">Password</label>
  <div class="col-md-4">
    <input id="pmodule" name="pmodule" type="password" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Select Multiple -->
<div class="form-group">
  <label class="col-md-4 control-label" for="proj_no">Project</label>
  <div class="col-md-4">
    <select id="proj_no" name="proj_no" class="form-control" multiple="multiple">
      <option value="1">Project A</option>
      <option value="2">Project B</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="subbutton"></label>
  <div class="col-md-4">
    <button id="subbutton" name="subbutton" class="btn btn-primary">submit</button>
  </div>
</div>

</fieldset>
</form>



</div>		
</body>
</html>