<!DOCTYPE HTML>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<title>Admin Login</title>

</head>
<body>


<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>ADD PROJECT</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="pname">Project Name</label>  
  <div class="col-md-4">
  <input id="pname" name="pname" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="pmodule">Project module</label>
  <div class="col-md-4">
    <input id="pmodule" name="pmodule" type="password" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="login"></label>
  <div class="col-md-4">
    <button id="login" name="login" class="btn btn-primary">submit</button>
  </div>
</div>

</fieldset>
</form>




</div>		
</body>
</html>