<!DOCTYPE HTML>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<title>Admin Login</title>

</head>
<body>
<div class="container">
  <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>ADMIN LOGIN</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="uname">Username</label>  
  <div class="col-md-4">
  <input id="uname" name="uname" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="pmodule">Password</label>
  <div class="col-md-4">
    <input id="pmodule" name="pmodule" type="password" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
</div>

</fieldset>
</form>



</div>		
</body>
</html>